<mat-card class="example-card">
  <mat-card-content>
    <button (click) = "toRegister()">
      Register
    </button>
    <button (click) = "toLogin()" *ngIf="!(authService.user | async)">
        Login
      </button>
  <button (click) = "logOut()" *ngIf="authService.user | async">
    Log Out
  </button>

    <button (click) = "toBooks()">
      Books
    </button>
   
  </mat-card-content>
</mat-card>

