<div *ngIf = "!(authService.user | async)">
    <p><a routerLink = "/register" >register</a> or <a routerLink = "/login" >Login</a> to manage your reading list</p>
</div>


      <mat-card>   
          <div *ngIf = "authService.user | async">
              <h1>Welcome  {{ (authService.user | async)?.displayName }}!</h1>
          </div>
      

          <mat-card-content>
              <br>
              <mat-card-subtitle class="sub2">
              Your books list:
              </mat-card-subtitle>
             
              <book  class="checkbox" *ngFor = "let book of books" [data] = "book"> </book>
          </mat-card-content>
      
          <mat-card-actions>

            <form class="example-form" (ngSubmit) = "addBook()">
              <mat-form-field class="example-full-width">
                <input [(ngModel)] = "book" name = "name" matInput placeholder="Add book name" value="" >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input [(ngModel)] = "author" name = "author" matInput placeholder="Add book name" value="" >
              </mat-form-field>
              <div>
                  <input type = "Submit" value = "Add book">
              </div>      
            </form>  
          </mat-card-actions>
  
      </mat-card>
     