<li (mouseenter) = "buttonOn()"
    (mouseleave) = "buttonOff()"
    style="list-style-type:none">
    <mat-checkbox
      [(ngModel)]="read"
      (change) = "checkChange()">
    </mat-checkbox>  
    <span   *ngIf = "!showEditField"
            (click) = "showEdit()"> {{ book }} </span>

    <mat-form-field *ngIf = "showEditField">
        <input [(ngModel)] = "book" matInput >
    </mat-form-field>

    <mat-form-field *ngIf = "showEditField">
                <input [(ngModel)] = "author" matInput >
            </mat-form-field>

    <button mat-raised-button
            *ngIf = "showEditField"
            (click) = "save()">Save</button>

    <button mat-raised-button
            *ngIf = "showEditField"
            (click) = "cancel()">Cancel</button>        

    <span   *ngIf = "nameSpan"> {{author}}</span>

</li>