
 <mat-card class="example-card">
<form class="example-form">
    <br>
    <h2> sign up </h2>
    <div>
    <div>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Nickname" value="" name = 'nickname' [(ngModel)]="nickname">
        </mat-form-field>
    </div>
      <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" value="" name = 'name' [(ngModel)]="name">
          </mat-form-field>
      </div>
      <div>
      <mat-form-field class="example-full-width">
        <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
        <mat-hint>your Email</mat-hint>
      </mat-form-field>
      
    <div class="error" *ngIf="code == 'auth/invalid-email'">
      {{message}}
    </div>
    <div class="error" *ngIf="code == 'auth/email-already-in-use'">
      {{message}}
    </div>
      </div>
    <div>
      <mat-form-field class="example-full-width">
        <input [(ngModel)] = "password" type = "password" name = "password" matInput placeholder="Password">
        <mat-hint>your password</mat-hint>
      </mat-form-field>
    <div class="error" *ngIf="code == 'auth/weak-password'">
      {{message}}
    </div>
  </div>
  <div>
      <mat-form-field class="example-full-width">
        <input [(ngModel)] = "passwordAgain" type = "password" name = "passwordAgain" matInput placeholder="Password again">
        <mat-hint>your password</mat-hint>
      </mat-form-field>
    <div class="error" *ngIf="code == 'auth/weak-password'">
      {{message}}
    </div>
  </div>
  <div>
    <button mat-stroked-button (click)="signUp()" [disabled]="!email || !password ||!name || !nickname ||!passwordAgain">
      sign up
    </button></div>
  </form>
</mat-card>